<div *ngIf="basket">
  <div class="list-group">
    <div>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <div class="navbar-brand pull-left">Basket # {{basket.id}}</div>
            <a class="navbar-brand pull-right" href="#">Checkout</a>
            <div class="list-group, col-md-2">
              <a href="#" *ngFor="let product of basket.products" class="list-group-item">{{product.name | titlecase}}</a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
