<div class="row">
  <div class="col-md-1"></div>
  <div *ngIf="products">
    <div class="list-group, col-md-2">
      <a href="/show/{{product.type | lowercase}}/details/{{product.id}}" *ngFor="let product of products" class="list-group-item">{{product.name | titlecase}}</a>
    </div>
  </div>
  <div *ngIf="product">
    <div class="list-group, col-md-4">
      <div>
        <h1>{{product.name}}</h1>
        <p><img src="assets/{{product.name | lowercase}}.jpeg" alt="..."></p>
        <p><h3 class="pull-left">£ {{product.price}}</h3><a class="btn btn-primary btn-lg pull-right" href="#" role="button">add to basket</a>
      </div>
    </div>
    <div *ngIf="product">
      <div class="list-group, col-md-4">
        <div>
          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <div class="navbar-brand pull-left">Basket</div>
                <a class="navbar-brand pull-right" href="#">Checkout</a>
              </div>
            </div>
          </nav>
        </div>
      </div>
  </div>
</div>
