<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--include resource="org/springframework/boot/logging/logback/base.xml"/ -->
    <logger name="org.springframework" level="INFO"/>
    <logger name="com.netflix" level="INFO"/>
    <logger name="org.apache" level="INFO"/>
    <logger name="org.hibernate" level="ERROR"/>
    <logger name="sun.net" level="ERROR"/>
    <logger name="com.sun" level="ERROR"/>
    <logger name="com.jnd" level="debug"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%d{dd MM yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>%d{dd MM yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="IFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>