<form class="navbar-form navbar-right" role="login" #loginForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <input type="text" class="form-control ng-untouched ng-pristine ng-valid" id="username" placeholder="username" [(ngModel)]="user.username" name="username">
    <input type="password" class="form-control" id="password" placeholder="current-password" [(ngModel)]="user.password" name="password" ng-reflect-name="password">
  </div>
  <button type="submit" class="btn btn-default">Sign in</button>
</form>
